@page
@model Formulario.carrerasModel
@{
    ViewData["Title"] = "carreras";
}

<head>
    <link rel="stylesheet" href="~/css/Carrera.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<div class="card">

    <section class="details-card">
        <div class="container">
            <h1 class="text-center" style="background-color:#F0B030;">Ingenierías</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://images.unsplash.com/photo-1455165814004-1126a7199f9b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">

                        </div>
                        <div class="card-desc text-center">
                            <h3>Industriall</h3>
                            <p>
                                Detalles de la carrea, incluye plan de estudio, tiempo estimado, competencias adquiridas, etc..
                            </p>
                            <a href="DetalleCarrera" class="btn btn-card" style="background-color:brown; color:white;">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">

                        </div>
                        <div class="card-desc text-center">
                            <h3>Sistemas</h3>
                            <p>
                                Detalles de la carrea, incluye plan de estudio, tiempo estimado, competencias adquiridas, etc..
                            </p>
                            <a href="DetalleCarrera" class="btn btn-card" style="background-color:brown; color:white;">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://images.unsplash.com/photo-1519462746248-f6d189ee340c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">

                        </div>
                        <div class="card-desc text-center">
                            <h3>Ambiental</h3>
                            <p>
                                Detalles de la carrea, incluye plan de estudio, tiempo estimado, competencias adquiridas, etc..
                            </p>
                            <a href="DetalleCarrera" class="btn btn-card" style="background-color:brown; color:white;">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="padding-top: 35px;">
            <h1 class="text-center" style="background-color:#F0B030;">Licenciaturas</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://images.unsplash.com/photo-1450101499163-c8848c66ca85?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="">

                        </div>
                        <div class="card-desc text-center">
                            <h3>Derecho</h3>
                            <p>
                                Detalles de la carrea, incluye plan de estudio, tiempo estimado, competencias adquiridas, etc..
                            </p>
                            <a href="DetalleCarrera" class="btn btn-card" style="background-color:brown; color:white;">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://images.unsplash.com/photo-1504711434969-e33886168f5c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">

                        </div>
                        <div class="card-desc text-center">
                            <h3>Periodismo</h3>
                            <p>
                                Detalles de la carrea, incluye plan de estudio, tiempo estimado, competencias adquiridas, etc..
                            </p>
                            <a href="DetalleCarrera" class="btn btn-card" style="background-color:brown; color:white;">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://images.unsplash.com/photo-1432888622747-4eb9a8efeb07?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80" alt="">

                        </div>
                        <div class="card-desc text-center">
                            <h3>Mercadotecnia</h3>
                            <p>
                                Detalles de la carrea, incluye plan de estudio, tiempo estimado, competencias adquiridas, etc..
                            </p>
                            <a href="DetalleCarrera" class="btn btn-card" style="background-color:brown; color:white;">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://images.unsplash.com/photo-1559757148-5c350d0d3c56?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" alt="">

                        </div>
                        <div class="card-desc text-center">
                            <h3>Psicología</h3>
                            <p>
                                Detalles de la carrea, incluye plan de estudio, tiempo estimado, competencias adquiridas, etc..
                            </p>
                            <a href="DetalleCarrera" class="btn btn-card" style="background-color:brown; color:white;">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://images.unsplash.com/photo-1523629619140-ee5b56cb3b23?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1474&q=80" alt="">

                        </div>
                        <div class="card-desc text-center">
                            <h3>Finanzas</h3>
                            <p>
                                Detalles de la carrea, incluye plan de estudio, tiempo estimado, competencias adquiridas, etc..
                            </p>
                            <a href="DetalleCarrera" class="btn btn-card" style="background-color:brown; color:white;">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://images.unsplash.com/photo-1554224155-6726b3ff858f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1472&q=80" alt="">

                        </div>
                        <div class="card-desc text-center">
                            <h3>Administración de Empresas</h3>
                            <p>
                                Detalles de la carrea, incluye plan de estudio, tiempo estimado, competencias adquiridas, etc..
                            </p>
                            <a href="DetalleCarrera" class="btn btn-card" style="background-color:brown; color:white;">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="padding-top: 35px;">
            <h1 class="text-center" style="background-color:#F0B030;">Salud</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://images.unsplash.com/photo-1572996489045-96ed977a73b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">

                        </div>
                        <div class="card-desc text-center">
                            <h3>Medicina</h3>
                            <p>
                                Detalles de la carrea, incluye plan de estudio, tiempo estimado, competencias adquiridas, etc..
                            </p>
                            <a href="DetalleCarrera" class="btn btn-card" style="background-color:brown; color:white;">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://images.unsplash.com/photo-1567568423327-a42bf243e0da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">

                        </div>
                        <div class="card-desc text-center">
                            <h3>Odontolgía</h3>
                            <p>
                                Detalles de la carrea, incluye plan de estudio, tiempo estimado, competencias adquiridas, etc..
                            </p>
                            <a href="DetalleCarrera" class="btn btn-card" style="background-color:brown; color:white;">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

