@page
@model Formulario.CursosModel
@{
    ViewData["Title"] = "PlanesEstudio";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/Cursos.css" />
</head>
<body>
    <h2 class="text-center" style="background-color:brown; color:white;">Cursos</h2>
    <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 360px; overflow: hidden; border-radius: 10px;">
        <img src="~/cursos/grafico.jpg" alt="Man with backpack"
             class="d-block w-full">

        <div class="px-2 py-2">
            <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
                Cursos
            </p>

            <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
                Diseño Gráfico
            </h1>

            <p class="mb-1">
                El diseño gráfico es dirigido a estudiantes que deseen optar por una formación universitaria la cual ayude adoptar una visión global de los objetivos del diseño gráfico. &hellip;
            </p>

        </div>

        <a href="#0" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
            Read More
        </a>
    </div>
    <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 360px; overflow: hidden; border-radius: 10px;">
        <img src="~/cursos/marketing-digital (1).png" alt="Man with backpack"
             class="d-block w-full">

        <div class="px-2 py-2">
            <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
                Cursos
            </p>

            <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
                Marketing Digital
            </h1>

            <p class="mb-1">
                Aprenderás a: crear, implementar y gestionar estrategias digitales acertadas, mejorar el posicionamiento digital, crear relaciones sólidas entre el consumidor y la marca. &hellip;
            </p>

        </div>

        <a href="#0" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
            Read More
        </a>
    </div>
    <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 360px; overflow: hidden; border-radius: 10px;">
        <img src="~/cursos/etiqueta.jpg" alt="Man with backpack"
             class="d-block w-full">

        <div class="px-2 py-2">
            <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
                Cursos
            </p>

            <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
                Etiqueta
            </h1>

            <p class="mb-1">
                El curso dara la guianza necesaria para los aspectos de buen trato, la agradable presentación personal y los buenos modales, en busca del fortalecimiento de las relaciones de tipo social. &hellip;
            </p>

        </div>

        <a href="#0" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
            Read More
        </a>
    </div>
    <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 360px; overflow: hidden; border-radius: 10px;">
        <img src="~/cursos/unnamed.jpg" alt="Man with backpack"
             class="d-block w-full">

        <div class="px-2 py-2">
            <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
                Cursos
            </p>

            <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
                Excel Basico
            </h1>

            <p class="mb-1">
                Aprender Excel básico es tarea facil. Con este sencillo curso de Excel básico totalmente gratis puedes aprender en unas pocas horas si sigues todas las clases para aprendices de Excel. &hellip;
            </p>

        </div>

        <a href="#0" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
            Read More
        </a>
    </div>
    <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 360px; overflow: hidden; border-radius: 10px;">
        <img src="~/cursos/cocina.jpg" alt="Man with backpack"
             class="d-block w-full">

        <div class="px-2 py-2">
            <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
                Cursos
            </p>

            <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
                Cocina
            </h1>

            <p class="mb-1">
                La comida se ha convertido hoy en dia en un negocio muy importante, es por ello que nuestra universidad te ofrece el curso de concina para que puedas implementar tu propio negocio. &hellip;
            </p>

        </div>

        <a href="#0" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
            Read More
        </a>
    </div>
    <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 360px; overflow: hidden; border-radius: 10px;">
        <img src="~/cursos/autocad.jpg" alt="Man with backpack"
             class="d-block w-full">

        <div class="px-2 py-2">
            <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
                Cursos
            </p>

            <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
                Autocad
            </h1>

            <p class="mb-1">
                Aprende las herramientas básicas para dibujar con precisión tus proyectos de arquitectura, configurar las unidades de medición que desees usar y realizar tus primeros dibujos básicos. &hellip;
            </p>

        </div>

        <a href="#0" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
            Read More
        </a>
    </div>
    </div>
    <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 360px; overflow: hidden; border-radius: 10px;">
        <img src="~/cursos/css.jpg" alt="Man with backpack"
             class="d-block w-full">

        <div class="px-2 py-2">
            <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
                Cursos
            </p>

            <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
                CSS
            </h1>

            <p class="mb-1">
                CSS es el lenguaje que hace a la web hermosa. Sin CSS los sitios web y aplicaciones móviles se verían aburridos. Con este curso aprenderás a diseñar para la web usando código CSS. &hellip;
            </p>

        </div>

        <a href="#0" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
            Read More
        </a>
    </div>
    <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 360px; overflow: hidden; border-radius: 10px;">
        <img src="~/cursos/revit10.jpg" alt="Man with backpack"
             class="d-block w-full">

        <div class="px-2 py-2">
            <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
                Cursos
            </p>

            <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
                Autodesk
            </h1>

            <p class="mb-1">
                Nuestra formación contínua va dirigida a aquellos profesionales que quieran mejorar sus niveles de competitividad y su capacidad de adaptación en tecnologías paramétricas. &hellip;
            </p>

        </div>

        <a href="#0" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
            Read More
        </a>
    </div>
</body>
</html>

