@page
@model Formulario.DetalleCarreraModel
@{
    ViewData["Title"] = "DetalleCarrera";
}

<link rel="stylesheet" href="~/css/DetalleCarrera.css" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<section class="details-card">
    <div class="container" style="padding-top: 35px;">
        <h1 class="text-center" style="background-color:#F0B030;">Nombre de la carrera</h1>
        <div class="row">
            <div class="how-section1">
                <div class="row">
                    <div class="col-md-6 how-img">
                        <img src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png" class="rounded-circle img-fluid" alt="" />
                    </div>
                    <div class="col-md-6">
                        <h4 style="color:black">Detalle de la carrera</h4>
                        <h4 class="subheading" style="color:brown">Se puede escribir algo destacado de la carrera, alguna frase importante por ejemplo.</h4>
                        <p class="text-muted">
                            La carrera de Seguridad Informática (Ciberseguridad) es una disciplina relacionada con la Informática que analiza los distintos aspectos de la seguridad de los sistemas virtuales. Esta carrera proporciona las habilidades que permiten diseñar e implementar medidas de seguridad para evitar el robo, la pérdida, el daño o la alteración de la información de las organizaciones.

                            El profesional en Seguridad Informática (Ciberseguridad) maneja un bagaje teórico amplio sobre protección y gestión de la información, además de conocimientos en temas de crímenes virtuales, piratería y robo de información. Además, aplica estos conocimientos en la aplicación y evaluación de medidas de seguridad virtual.

                            Otras carreras relacionadas son Tecnologías de Información y Comunicación, Ingeniería en Sistemas, Diseño de Software, Computación.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4 style="color:black">Habilidades deseadas:</h4>
                        <h4 class="subheading" style="color:brown">Se muestra listado las habiliades necesarias para entrar a la carrera:</h4>
                        <ul>
                            <li>Gusto por las tecnologías de información y comunicación.</li>
                            <li>Ética y responsabilidad ante el manejo de información sensible.</li>
                            <li>Capacidad de análisis y síntesis.</li>
                            <li>Habilidades de comunicación oral y escrita.</li>
                            <li>Capacidad para tomar decisiones en situaciones conflictivas.</li>
                        </ul>
                    </div>
                    <div class="col-md-6 how-img">
                        <img src="https://image.ibb.co/cHgKnU/Work_Section2_freelance_img2.png" class="rounded-circle img-fluid" alt="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 how-img">
                        <img src="https://image.ibb.co/ctSLu9/Work_Section2_freelance_img3.png" class="rounded-circle img-fluid" alt="" />
                    </div>
                    <div class="col-md-6">
                        <h4 style="color:black">Datos importantes sobre la carrera</h4>
                        <h4 class="subheading" style="color:brown">Informacion relevante de la carrera</h4>
                        <p class="text-muted">
                            Las Tecnologías de Información y Comunicación son una rama de la Informática ligada a la Ingeniería, que estudian la infraestructura tecnológica. Se encarga de brindar herramientas teóricas y prácticas al profesional en esta área, para la implementación, diseño y administración de dicha infraestructura. Esta área de estudio es fundamental para la sociedad actual, debido a la digitalización de servicios y funciones en empresas, instituciones y organizaciones de la esfera pública y privada.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="padding-top: 35px;">
        <h2 class="text-center" style="background-color:#F0B030;">Plan de Estudio</h2>
        <div class="row">
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Redes</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Tenis I</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Sociología</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Español</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Filosofía</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Ingles I</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 35px;">
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Redes</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Tenis I</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Sociología</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Español</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Filosofía</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Ingles I</h5>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="padding-top: 35px;">
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Redes</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Tenis I</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Sociología</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Español</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Filosofía</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Ingles I</h5>
                    </div>
                </div>
            </div>
        </div>



        <div class="row" style="padding-top: 35px;">
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Redes</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Tenis I</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Sociología</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Español</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Filosofía</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Ingles I</h5>
                    </div>
                </div>
            </div>
        </div>



        <div class="row" style="padding-top: 35px;">
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Redes</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Tenis I</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Sociología</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Español</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Filosofía</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Ingles I</h5>
                    </div>
                </div>
            </div>
        </div>



        <div class="row" style="padding-top: 35px;">
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Redes</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Tenis I</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Sociología</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Español</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Filosofía</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Ingles I</h5>
                    </div>
                </div>
            </div>
        </div>



        <div class="row" style="padding-top: 35px;">
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Redes</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Tenis I</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Sociología</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Español</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Filosofía</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Ingles I</h5>
                    </div>
                </div>
            </div>
        </div>



        <div class="row" style="padding-top: 35px;">
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Redes</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Tenis I</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Sociología</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Español</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Filosofía</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Ingles I</h5>
                    </div>
                </div>
            </div>
        </div>



        <div class="row" style="padding-top: 35px;">
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Redes</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Tenis I</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Sociología</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Español</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Filosofía</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-text">Ingles I</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
       
   
</section>


